@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    /* COLORS */
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);

    --clr-neutral-vdark-blue: hsl(234, 12%, 34%);
    --clr-neutral-greysh-blue:hsl(229, 6%, 66%);
    --clr-neutral-vlight-grey: hsl(0, 0%, 98%);

    /* FONT-WEIGHTS */
    --font-weight-200: font-weight:200;
    --font-weight-400: font-weight:400;
    --font-weight-600: font-weight:600;

}

html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-neutral-vlight-grey);
    }

article{
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 -2rem 30rem;
    width: 32%;
}

header h1{
    font-size: 1.5rem;
    margin: 1rem auto;
    font-weight: 300;
    line-height: 1;
}




header p{
    font-size: 0.9rem;
    text-align: center;
    line-height: 2;
    margin: 1rem 0 4rem 0;
    opacity: 0.6;
}

.main-container{
    box-shadow: 0.2rem var(--clr-neutral-vlight-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.3rem var(--clr-primary-red) solid;
    box-shadow: 0.4rem 0.2rem 0.3rem 0.4rem rgb(232, 232, 232);
    border-radius: 0.3rem;
    margin: 0 auto auto 34rem;
    padding: 1.8rem;
    width: 18%;
}

.main-container h3{
    margin: 0.5rem 0 0 -0.50rem;
    
}

.main-container p{
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.4;
    margin: 0.5rem 0 0 -0.50rem;
    line-height: 2;
    
}

.main-container img{
    width: 20%;
    padding: 2rem 0 0 13rem;
}


.main-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.3rem var(--clr-primary-cyan) solid;
    box-shadow: 0.4rem 0.2rem 0.3rem 0.4rem rgb(232, 232, 232);
    border-bottom: 0.3rem transparent;
    border-radius: 0.3rem;
    margin: -5.5rem 0 0 12rem;
    padding: 1.8rem;
    width: 18%;
}

.main-container-left img{
    width: 20%;
    padding: 2rem 0 0 13rem;
}

.main-container-left h3{
    margin: 0.5rem 0 0 -0.50rem;
}


.main-container-left p{
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.4;
    margin: 0.5rem 0 0 -0.50rem;
    line-height: 2;

}

.main-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.3rem var(--clr-primary-blue) solid;
    box-shadow: 0.4rem 0.2rem 0.3rem 0.4rem rgb(232, 232, 232);
    border-bottom: 0.3rem transparent;
    border-radius: 0.3rem;
    margin: -15.5rem 0 0 56rem;
    padding: 1.8rem;
    width: 18%;
}

.main-container-right img{
    width: 20%;
    padding: 2rem 0 0 13rem;
}

.main-container-right h3{
    margin: 0.5rem 0 0 -0.50rem;
}


.main-container-right p{
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.4;
    margin: 0.5rem 0 0 -0.50rem;
    line-height: 2;

}

.main-container-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.3rem var(--clr-primary-orange) solid;
    padding: 0.5rem;
    box-shadow: 0.4rem 0.2rem 0.3rem 0.4rem rgb(232, 232, 232);
    border-radius: 0.3rem;
    margin: -7rem 0 0 34.2rem;
    padding: 1.8rem;
    width: 18%;
}

.main-container-bottom img{
    width: 20%;
    padding: 2rem 0 0 13rem;
}

.main-container-bottom h3{
    margin: 0.5rem 0 0 -0.50rem;
}


.main-container-bottom p{
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.4;
    margin: 0.5rem 0 0 -0.50rem;
    line-height: 2;

}


/*--------------------- MEDIA QUERIES----------------- */

 @media screen and (max-width: 375px) {
        /* main {
            display: flex;
            flex-direction: column;
        } */

        .main-container, .main-container-left, .main-container-right, .main-container-bottom{
            display: flex;
            justify-content: center;
            margin: 0 auto 2rem 0;
            min-width: 60%;
            padding-bottom: 1rem;
        }

        header{
            margin: 0 auto 0 1.5rem;
            min-width: 65%;
        }
        

       
        
        
    
    } 