@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    /* COLORS */
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);

    --clr-neutral-vdark-blue: hsl(234, 12%, 34%);
    --clr-neutral-greysh-blue:hsl(229, 6%, 66%);
    --clr-neutral-vlight-grey: hsl(0, 0%, 98%);

    /* FONT-WEIGHTS */
    --font-weight-200: font-weight:200;
    --font-weight-400: font-weight:400;
    --font-weight-600: font-weight:600;

}

html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-neutral-vlight-grey);
    border-left: 10px black;
    border-right: 10px black;
}